.horizons {
  padding: 50px 0;
  @media (max-width: 500px) {
    padding: 20px 0;
  }
  &__layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 1150px) {
      flex-direction: column;
    }
  }
  &__left {
    display: block;
    width: 570px;
    height: 380px;
    @media (max-width: 1150px) {
      margin-bottom: 20px;
    }
    @media (max-width: 768px) {
      width: 100%;
      img {
        object-fit: cover;
      }
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;
    width: 50%;
    @media (max-width: 1150px) {
      width: 80%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }
    .tabcontent {
      display: none;
      width: 470px;
      @media (max-width: 540px) {
        width: 100%;
      }
      &.active {
        display: block;
      }
      &__descr {
        margin-bottom: 26px;
        min-height: 72px;
        @media (max-width: 500px) {
          margin-bottom: 5px;
        }
      }
      &__btns {
        display: flex;
        justify-content: center;
        @media (max-width: 500px) {
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
        }
        a {
          padding: 20px 33px 19px;
          font-size: 18px;
          border: 2px solid $black;
          margin: 0 10px;
          color: $black;
          transition: all 0.3s;
          @media (max-width: 500px) {
            width: 140px;
            height: 40px;
            display: block;
            font-size: 18px;
            line-height: 40px;
            padding: 0;
            text-align: center;
            margin-bottom: 10px;
          }
          &:hover {
            background: $mainColor;
            border-color: $mainColor;
            color: $white;
          }
        }
      }
    }
  }
  &__title {
    margin-bottom: 30px;
    padding: 0 0 10px 0;
    @media (max-width: 500px) {
      margin-bottom: 10px;
    }
  }
  &__tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgb(225, 225, 225);
    margin-bottom: 26px;
    @media (max-width: 1150px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      flex-direction: column;
      margin-bottom: 10px;
    }
    .tablinks {
      font-size: 16px;
      text-transform: uppercase;
      padding: 0 0 10px 0;
      border: none;
      background: transparent;
      color: rgb(225, 225, 225);
      cursor: pointer;
      position: relative;
      @media (max-width: 500px) {
        padding: 0;
        margin-bottom: 10px;
      }
      &::before {
        content: "";
        display: block;
        width: 0%;
        height: 2px;
        background: $mainColor;
        position: absolute;
        left: 0;
        bottom: -2px;
        transition: all 0.5s;
        &:hover {
          width: 100%;
        }
      }
      &.active {
        color: $mainColor;
        &:before {
          width: 100%;
        }
      }
      &:hover {
        color: $mainColor;
      }
    }
  }
}
